# Dependencies
node_modules/

# Environment variables / secrets
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build files
dist/
build/

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db